<!DOCTYPE html>
<html lang="sk">
<head>
    {% include "partials/head-common.njk" %}
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9B3CT749WJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9B3CT749WJ');
</script>
<body class="antialiased">

    <main>
        {{ content | safe }}
    </main>

    {% include "footer.html" %}

</body>
</html>