<!DOCTYPE html>
<html lang="sk">
<head>
    {% include "partials/head-common.njk" %}
</head>
<body class="antialiased">

    <main>
        {{ content | safe }}
    </main>

    {% include "footer.html" %}

</body>
</html>