<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <meta name="og:title" property="og:title" content="{{ title }}">
    <meta name="og:type" property="og:type" content="website">
    <meta name="og:description" property="og:description" content="{{ description }}">
    <meta name="og:image" property="og:image" content="https://placehold.co/1200x630/0F4C81/FFFFFF?text=Medimentor">

    <link rel="icon" type="image/svg+xml" href="https://placehold.co/96x96/0F4C81/FFFFFF?text=M">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.cdnfonts.com/css/brockmann" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/assets/style.css">

    <script type="importmap">
        {
          "imports": {
            "@material/web/": "https://esm.run/@material/web/"
          }
        }
    </script>
    <script type="module">
        import '@material/web/all.js';
        import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';
    
        document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>
</head>

<body class="antialiased">

    <main>
        {{ content | safe }}
    </main>

    {% include "footer.html" %}

</body>
</html>