<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta name="og:title" property="og:title" content="{{ title }}">
<meta name="og:type" property="og:type" content="website">
<meta name="og:description" property="og:description" content="{{ description }}">
<meta name="og:image" property="og:image" content="https://placehold.co/1200x630/0F4C81/FFFFFF?text=Premedis">

<link rel="icon" type="image/svg+xml" href="https://placehold.co/96x96/0F4C81/FFFFFF?text=P">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Roboto:wght@400;500;700&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&display=swap" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/brockmann" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/style.css">
<script type="importmap">
{
  "imports": {
    "@material/web/": "https://esm.run/@material/web/"
  }
}
</script>
<script type="module">
    import '@material/web/all.js';
    import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';
    document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Premedis",
  "url": "https://premedis.com/",
  "logo": "https://premedis.com/assets/images/logo.svg",
  "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "Customer Service",
    "email": "info@premedis.com"
  },
  "sameAs": [
    "https://www.youtube.com/@premedis",
    "https://facebook.com/premedis",
    "https://www.instagram.com/premedis.official",
    "https://www.tiktok.com/@premedis.official",
    "https://discord.gg/A5JvPhQ2c8"
  ]
}
</script>
<!-- Mailchimp -->
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/1d62e0c8719ce9761f331ca8e/b4bf5d892d4ba76cf81b6a0a3.js");</script>